p {
    margin: 6px;
    padding: 6px;
    border: 4px solid black;
    width: 200px;
    height: 100px;
    background-color: rgb(225, 204, 190);
}
.my-grid {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto 100px;
}

.has-blue-background {
    background-color: #cdf6fd;
    border: 1px solid #000000;
}

.has-pink-background {
    background-color: #ffcaef;
    border: 1px solid #000000;
}
